StepFunction.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Serialised Image",
  "States": {
    "Serialised Image": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:216154899179:function:serializeImageData:$LATEST"
      },
      "Next": "Image Classification"
    },
    "Image Classification": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:216154899179:function:imageclassification:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Inferences  >= Threshold?"
    },
    "Inferences  >= Threshold?": {
      "Type": "Choice",
      "Choices": [
        {
          "Not": {
            "Variable": "$.body.inferences[0]",
            "NumericGreaterThanEquals": 0.9
          },
          "Next": "Fail"
        },
        {
          "Variable": "$.body.inference[0]",
          "NumericGreaterThanEquals": 0.9,
          "Next": "Inference"
        }
      ]
    },
    "Fail": {
      "Type": "Fail"
    },
    "Inference": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:216154899179:function:Inference:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "End": true
    }
  }
}